// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.img-welcome{
    width: 280px;
    height: 240px;
}

.img-catalog{
    width: 270px;
    height: 180px;
}
.map {
    width: 670px;
    height: 550px;
    background-color: #333;
}

[class*="copyrights-pane"] {
    display: none !important;
}

[class*="ground-pane"] {
    filter: grayscale(1);
}


#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.img-product{
    width: 475px;
    height: 440px;
}
